
/* very small  */
@media (min-width: 0px) and (max-width: 575.98px) { 


}

 /* small  */
@media (min-width: 576px) and (max-width: 767.98px) {


}


/* medium  */
@media (min-width: 768px) and (max-width: 991.98px) { 


}

 /* mobile and tablets end  */

 /* desktop and laptops start:  */
/* largeg  */
@media (min-width: 992px) and (max-width: 1199.98px) { 
    
}
  
  
  /* extra large  */
@media (min-width: 1200px) and (max-width: 1399.98px) { 


}
  
  
  /* extra-extra large */
@media (min-width: 1400px) { 


}

   /* desktop and laptops end  */


